body{
    margin: 0;
    padding: 0;
    color: white;
}

input{
    width: 90%;
    color: white;
    background-color: inherit;
    font-size: 24px;
    text-align: center;
    border-color: white;
    border-radius: 30px;
}

p{
    text-align: center;
}

a{
    color: rgb(220, 6, 70);
    text-decoration: none;
    font-size: 19px;
}
a:hover{
    text-decoration: underline;
}

button{
    width: 60%;
    font-size: 25px;
    border: 0.5px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.mainBody{
    background-image: url(oasisPic.jpeg);
    background-size:cover;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    justify-content: center;
} 

.signUpBody{
    background-image: url(infoBy.png);
    background-size:cover;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    justify-content: center;
}

.signedInUpBody{
    background-image: url(infobyteLogged.jpg);
    background-size:cover;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(154, 164, 0);
}

.logform{
    background-color: rgba(0, 0, 0, 0.36);
    padding: 20px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.signform{
    background-color: rgba(0, 0, 0, 0.616);
    padding: 20px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}